
@{
    ViewBag.Title = "About";
    //Layout = "~/Views/Shared/_LayoutPage1.cshtml";

    /*Layout file commented due to a _viewstart.cshtml file is created for all views*/
}

<h2>About</h2>

@{
    ViewBag.Message = "Leading company in the World...";
}

@{
    ViewBag.ListTitle = "Products";
    ViewBag.Items = new List<string> { "Mobiles", "Electronics", "Home Appliances" };
    Html.RenderPartial("ListPartialView");
}

@section SidebarSection{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">About Company</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">About Founders</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">About Team</a>
}


